## Machine Learning Problem

The dataset is weather data from the edmonton city-center from 1961 to 1994, with the goal to predict weather "descriptions" (i.e. cloudy, snow, rain etc) from features (temperature, relhumidity, pressure)


### Classifiers
I choose 3 classifiers + the baseline to explore the performance of different algorithms, all using the
scikit-learn implementations
\begin{itemize}
    \item There's the obvious baseline of a $\frac{1}{k}$ zero-classifier, which we will hopefully outperform
    \item Linear regression as a basic model
    \item SVM
    \item and a relatively simple multi-layer perceptron neural net from SKLearn
\end{itemize}

In [4]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
# tqdm loading bars
from tqdm.notebook import tqdm

In [ ]:
# GLOBALS
# the size of the test and validation splits
TEST_SIZE = 0.2

In [2]:
data = pd.read_csv("weather_data.csv")
data[['TempC','RelHumPct', 'PkPa', 'Weather']]

        TempC  RelHumPct   PkPa Weather
0        -8.3       96.0  92.59   Clear
1        -8.9       90.0  92.64   Clear
2        -8.9       90.0  92.71   Clear
3       -10.0       93.0  92.79   Clear
4       -11.1       92.0  92.84   Clear
...       ...        ...    ...     ...
361473    6.0       42.0  94.63   Clear
361474    7.1       39.0  94.60   Clear
361475    7.4       37.0  94.60   Clear
361476    7.2       38.0  94.63   Clear
361477    7.1       35.0  94.66   Clear

[361478 rows x 4 columns]

In [3]:
X = data[['TempC', 'RelHumPct', "PkPa"]]
y = data[['Weather']]

### Train, validation, test
I use built-in scikit-learn train_test_split to split the data into train, validation, and test datasets

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 69)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state = 69)